<?xml version="1.0"?>
<model>
        <name>green_decor</name>
        <version>1.0</version>
        <sdf version='1.6'>model.sdf</sdf>
        <author>
                <name>pascal</name>
                <email>p.chauvin@isae-supaero.fr</email>
        </author>
        <description>
                simple gree box decor with 1m*1m size.
        </description>
</model>
